
html {
    font-family: Calibri;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: silver;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    
}

header li {
    font-size: 2rem;
    display: inline;
    padding: 0 2rem;
}