/* Dark mode settings */

@media (prefers-color-scheme: dark) {
    html {
        color: white;
        background-color: black;
    }

    header {
        background-color: gray;
    }

    * {
        border-color: white;
    }
}

/* Light mode settings */

@media (prefers-color-scheme: light) {
    /* Use default html text color/background */

    header {
        background-color: silver;
    }

    * {
        border-color: black;
    }
}

/* Universal themes */

html {
    font-family: Roboto;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: inline-flex;
    justify-content: center;
    position: fixed;
    flex-wrap: nowrap;
    width: 100%;
    padding: .75rem 0;
}

header li {
    font-size: 2rem;
    display: inline;
    padding: 0 2rem;
    
}

div {
    margin: 0 2rem;
}

span {
    height: 2rem;
    display: inline-block;
}

.welcome {
    padding-top: 2.75rem;
}

.education h2 {
    border-bottom: 1px solid;
}

.education .cpc {
    margin-top: 1rem;
    width: 100%;
}

.education li {
    display: list-item;
    margin-left: 0rem;
}

.education .courses {
    display: flex;
}

.education h4 {
    width: 100%;
}

.education .java {
    width: 40%;
}

.education .other {
    width: 40%
}